$contentBg: url("../img/m-h-night.jpg");
$defaultFont: 'Source Sans Pro', sans-serif;
$logoFont: 'Fresca', sans-serif;
$sectionFont: 'Fresca', sans-serif;
$defaultFontColor: #ffffff;
$bgColor: #1c1e2a;
$texthighlight: #ff4d30;
$buttonColor: #e4ae00;
$sectionColor: #383d4f;
$gradientFrom: #dea401;
$gradientTo: #952b4f;
$bannerHeadColor: #ffffff;
$footerBG: #383d4f;