$contentBg: url("../img/m-h-day.jpg");
$defaultFont: 'Source Sans Pro', sans-serif;
$logoFont: 'Source Sans Pro', sans-serif;
$sectionFont: 'Source Sans Pro', sans-serif;
$defaultFontColor: #282b39;
$bgColor: #ffffff;
$texthighlight: #0ca1c8;
$buttonColor: #699a00;
$sectionColor: #1c1e2a;
$gradientFrom: #659606;
$gradientTo: #2a5bd6;
$bannerHeadColor: #282b39;
$footerBG: #1c1e2a;
